NEWS
inst/web*
vignettes/*.aux
vignettes/*.bbl
vignettes/*.blg
vignettes/*.log
vignettes/*.out
vignettes/*.toc
vignettes/*.R
vignettes/.build.timestamp
vignettes/mkin.tex
vignettes/FOCUS_Z.tex
vignettes/*cache/
mkin.Rcheck
