NEWS
README.html
inst/web*
vignettes/.build.timestamp
vignettes/*.aux
vignettes/*.bbl
vignettes/*.blg
vignettes/*.fdb_latexmk
vignettes/*.fls
vignettes/*.log
vignettes/*.log
vignettes/*.md
vignettes/*.out
vignettes/*.R
vignettes/*-concordance.tex
vignettes/*.synctex.gz
vignettes/mkin.tex
vignettes/FOCUS_Z.tex
vignettes/*.toc
vignettes/cache/
vignettes/figure/
vignettes/*_cache/
vignettes/*_files/
mkin.Rcheck
install.log
