NEWS
README.html
inst/web*
vignettes/*.aux
vignettes/*.bbl
vignettes/*.blg
vignettes/*.log
vignettes/*.out
vignettes/*.toc
vignettes/*.R
vignettes/.build.timestamp
vignettes/mkin.tex
vignettes/FOCUS_Z.tex
vignettes/FOCUS_Z.fls
vignettes/FOCUS_Z.fdb_latexmk
vignettes/*cache/
vignettes/compiled_models_cache
mkin.Rcheck
