os: linux
dist: xenial
language: r
r:
  - release
  - devel
cache: packages
addons:
  apt:
    packages:
      - gcc
repos:
  CRAN: https://cloud.r-project.org
  jranke: https://jranke.github.io/drat/
r_github_packages:
  - jranke/saemixextension
script:
  - |
    R CMD build .
    travis_wait 30 R CMD check mkin_*.tar.gz
after_success:
  - travis_wait 30 Rscript -e 'covr::codecov()'
