os: linux
dist: xenial
language: r
r:
  - release
  - devel
cache: packages
addons:
  apt:
    packages:
      - gcc
repos:
  CRAN: https://cloud.r-project.org
  jranke: https://jranke.github.io/drat
r_github_packages:
  - jranke/saemixextension
r_packages:
  - nlme
script:
  - R CMD build .
  - R CMD check --no-tests mkin_*.tar.gz
  - Rscript -e 'devtools::test()'
after_success:
  - Rscript -e 'covr::codecov()'
