os: linux
dist: xenial
language: r
r:
  - release
  - devel
cache: packages
addons:
  apt:
    packages:
      - gcc
r_github_packages:
  - saemixdevelopment/saemixextension
  - r-lib/vdiffr
script:
  - |
    R CMD build .
    travis_wait 30 R CMD check mkin_*.tar.gz
after_success:
  - travis_wait 30 Rscript -e 'covr::codecov()'
