# Export all names
exportPattern(".")
S3method(plot, mkinfit)
S3method(summary, mkinfit)
S3method(print, summary.mkinfit)
S3method(plot, mmkin)
S3method("[", mmkin)

import(
  stats,
  graphics,  
  FME,
  minpack.lm,
  rootSolve,
  inline,
  parallel
)
importFrom(deSolve, ode)
importFrom(methods, signature)
